/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/*--------------- MAP CSS ---------------*/


.mapcontainer{
  width: 100%;
  height: 100vh;
  background-color: blanchedalmond;
  overflow:scroll;
  overflow-x: scroll;
  overflow-y: scroll; 
 
}
/*
.mapcontainer::-webkit-scrollbar { 
  display: none; 
} */


.map{
  position: relative;
  width: 2368px;
  height: 2368px;
  /*background-image: url("./map.png");*/
  background-color: green;
}
@media only screen and (max-width: 600px) {
  .map{
    position: relative;
    width: calc(2368px /2) ;
    height:  calc(2368px /2);
    background-color: green;
  }
}

#bottomRight{
  position: absolute;
  bottom: 0px;
  right: 0px;

}
#bottomLeft{
  position: absolute;
  bottom: 0px;
  left: 0px;

}
#topLeft{
  position: absolute;
  top: 0px;
  left: 0px;

}
#topRight{
  position: absolute;
  top: 0px;
  right: 0px;

}

.flexBox{
  display: flex;
  flex: 1;
  width: 100%;
  background-color: lightskyblue;
}

/*--------------- PLAYER CSS ---------------*/


.playerContainer{
  display: flex;
  flex-direction: column; 

  /*background-color:rgba(59, 238, 214, 0.3);*/
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  /*opacity: 0.5;*/
}
.player {
  width: 200px;
  height: 100px;
  background-color: aliceblue;
  border-radius: 10px;
  margin: 20px;
}
.player ul{
  list-style: none;}
.player ul, h3{
  padding: 5px;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .playerContainer{
    display: -webkit-inline-box;
    flex-direction: row;
    /*background-color:rgba(59, 238, 214, 0.3);*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    overflow-x: scroll;
    /*opacity: 0.5;*/
  }
  .player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 10px;

  }
  .player ul{
    list-style: none;
    display: none;}
  .player ul, h3{
    padding: 5px;
    margin: 0;
  }
}